* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  color: var(--text-color);
  background: var(--body-bg-color);
}

.container {
  margin: 40px auto;
  justify-content: center;
  width: 100vh;
  display: flex;
}

.profile {
  width: 348px;
  border-radius: 20px;
  background: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 32px;
  margin: 0 60px 30px 0;
}

.profile img {
  width: 128px;
}

.profile p {
  font-size: 23px;
  font-weight: 700;
  margin-top: 30px;
}

.profile span {
  font-weight: 300;
  font-size: 13px;
}

.social-links {
  width: 348px;
  background: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 34px 40px;
  margin: 30px 60px 30px 0;
}

.social-links a {
  display: flex;
  gap: 20px;
  width: 24px;
  text-decoration: none;
}

.social-links a:not(:first-child) {
  margin-top: 20px;
}

.social-links a p {
  color: var(--text-color);
}

.technology {
  width: 348px;
  background: var(--bg-cards);
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 30px 60px 30px 0;
  padding: 30px;
}

.technology h1 {
  font-size: 20px;
  font-weight: 700;
}

.technology-programer {
  display: grid;
  grid-template-columns: 86px 86px 86px;
  gap: 15px;
  margin-top: 20px;
}

.technology-programer p {
  padding: 6px;
  border-radius: 30px;
  background-color: var(--bg-techs);
  color: var(--body-bg-color);
  font-size: 10px;
  text-align: center;
  font-weight: 700;
}

.experience {
  width: 348px;
  padding: 30px;
  background: var(--bg-cards);
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 30px 60px 30px 0;
}

.experience h1 {
  font-size: 20px;
  font-weight: 700;
}

.experience-jobs {
  padding: 20px 40px 0 40px;
  line-height: 20px;
}

.experience-jobs li {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.experience-jobs p {
  font-size: 12px;
  font-weight: 300;
}

.education {
  width: 348px;
  padding: 30px;
  background: var(--bg-cards);
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.education h1 {
  font-size: 20px;
  font-weight: 700;
}

.education-courses {
  padding: 20px 40px 0 40px;
  line-height: 20px;
}

.education-courses li {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.education-courses p {
  font-size: 12px;
  font-weight: 300;
}

.my-projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 952px;
  padding: 30px;
  background: var(--bg-cards);
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.my-projects h1 {
  font-size: 20px;
  font-weight: 700;
}

.subject {
  display: flex;
  justify-content: space-between;
  width: 952px;
  margin: 30px 40px 31px 0;
}

.subject-one {
  width: 461px;
  padding: 30px;
  background: var(--bg-cards);
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.subject-one p {
  font-size: 14px;
  font-weight: 400;
  padding: 20px 0 20px 0;
}

.content p {
  font-size: 16px;
  font-weight: 700;
}

.subject-one .content {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

.subject-one .content img {
  width: 20px;
}

.content-language {
  display: flex;
  align-items: center;
  gap: 16px;
}

.content-language .star {
  display: flex;
  align-items: center;
  gap: 8px;
}

.content-language .star img {
  height: 20px;
}

.content-language .git {
  display: flex;
  align-items: center;
  gap: 8px;
}

.content-language .git img {
  height: 20px;
}

.language {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 160px;
}

.subject-two {
  width: 461px;
  padding: 30px;
  background: var(--bg-cards);
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.subject-two .content {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

.subject-two p {
  font-size: 14px;
  font-weight: 400;
  padding: 20px 0 20px 0;
}

.subject-two .content p {
  font-size: 16px;
  font-weight: 700;
}

.subject-two .content img {
  width: 20px;
}

.posts {
  width: 952px;
  padding: 30px;
  background: var(--bg-cards);
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 30px 40px 31px 0;
}

.posts h1 {
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.history {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 952px;
  padding: 30px;
  background: var(--bg-cards);
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.history img {
  width: 128px;
}

.history p {
  font-size: 14px;
  font-weight: 400;
}

.history .title-one {
  margin-bottom: 28px;
}

.history .title-one h1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.history .title-two h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.history .title-two p {
  display: inline-block;
  margin-right: 10px;
}